## git ignore the rustc-ice files
rustc-*
target
resource/*
api_gen/
node_modules
index.node
*_archived
reflow_js
.env.*
npm-package/
crawl_output/
.DS_Store
examples/sdf_render/sdf_output.*
examples/skeleton_animation/animation.mp4
